@use 'variables' as *
.banner-principal-decorativo
  &-1
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 20%
    left: -10%
    width: 20%
  &-2
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 30%
    right: 10%
    width: 20%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 68%
    left: -10%
    width: 20%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.banner-principal__componente,
.banner-principal__descripcion
  padding-right: 11rem !important
.col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
  flex: 0 0 auto !important
  width: 58.33333333% !important
.banner-principal__img 
  padding-bottom: 0 !important;
.banner-principal__row .banner-principal__img 
    width: 33%;
    
.banner-principal p, .banner-principal h1, .banner-principal h2, .banner-principal h3, .banner-principal h4, .banner-principal h5, .banner-principal h6
  color: $white !important  

.boton *, .boton--sm *,
.barra-avance__boton--regresar span
  color: $white !important
.banner-interno__titulo h1, .banner-interno__titulo h2, 
.banner-interno__titulo h3, .banner-interno__titulo h4, 
.banner-interno__titulo h5, .banner-interno__titulo h6
  color: $white !important  
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: $color-sistema-texto !important
figcaption 
    font-weight: normal !important
.banner-interno__titulo__icono
    background-color: #262626 !important
.banner-interno__titulo__icono i
    color: $white!important;

.bloque-texto-g.color-adicional-1
    background-color: $color-adicional-1
.cajon.color-acento-botones
    background-color: #CFCCEB

.titulo-tercer-nivel
  width: fit-content
  max-width: 100%
  position: relative
  display: inline-flex
  align-items: center
  background-color: #B6B3E1
  border-radius: 30px
  padding-right: 16px
  padding-left: 60px
  min-height: 48px
 
  @media screen and (max-width: $bp-min-md)
    padding-left: 0px


  &__icon
    position: absolute
    left: 15px
    top: 50%
    transform: translateY(-50%)
    width: 70px
    max-width: 85px
    height: auto

    @media screen and (max-width: $bp-min-md)
      display: none

  &__text
    margin: 0
    margin: 0 15px 0 40px
    white-space: normal
    word-break: break-word

    @media screen and (max-width: $bp-min-md)
      margin: 0 15px 0 20px

.tabs-c 
    border-bottom: 0px
.tabs-c.color-acento-botones .tabs-c__tab
    background-color: #ADEAF9
    border-bottom-color: #010441

.tabs-c.color-acento-botones .tabs-c__tab--active
    background-color: #fff
    border-bottom-color: $color-acento-botones !important
    color: $color-sistema-texto !important

.tabs-c.color-acento-botones .tabs-c__tab--active:before
    border-top-color: $color-acento-botones !important
    
.tabs-c.color-acento-botones .tabs-c__tab--active span
    font-weight: bold !important
.tabs-c__tab:after
    background-color: #A00097;
.tabs-c__header
  margin-bottom: 0px !important

.slyder-f__btn i 
    color: $color-acento-botones
.slyder__btn 
    background-color: $color-acento-botones
.circl-arrow .slyder-f__btn i
  font-size: 1.2rem
  background-color: $color-acento-botones
  color: $white
  height: 46px
  width: 46px
  padding: 5px
  border-radius: 500px
  display: flex
  justify-content: center
  align-items: center
.img-infografica-b__modal
    background-color: #B6B3E1
    opacity: 1 !important
    border-radius: 20px
.img-infografica__item__tooltip, .img-infografica-b__item__tooltip
   display: none
.img-infografica-b.color-primario .img-infografica-b__item__dot:before,
.img-infografica-b.color-primario .img-infografica-b__item__dot:after
  background-color: $color-adicional-1 !important
.img-infografica-b.color-primario .img-infografica-b__item__numero i
    color: #34CBF0
.img-infografica-b__modal__contenido div > *
    color: $color-sistema-texto !important
.img-infografica-b__modal__btn-cerrar i 
    color: $color-sistema-texto !important
.acordion__accion__btn--a i, .acordion__accion__btn--b i 
    color: white;
.acordion__titulo h3
  color: $white
.tarjeta.bg-purple
  background-color: $color-primario
.tarjeta.bg-purple.acordion__activo
  background-color: #CFCCEB
.tarjeta.bg-purple.acordion__activo .acordion__titulo h3
  color: $color-sistema-texto
.acordion__accion__btn--a
    background-color: $color-acento-botones
.col.py-3.text-end
  text-align: left !important
.pasos-a.color-acento-botones .pasos-a__linea__esquina__linea,
.pasos-a.color-acento-botones .pasos-a__linea__esquina__linea,
.pasos-a.color-acento-botones .pasos-a__linea .hor-line
  border-color: $color-adicional-2 !important
.pasos-a.color-acento-botones .pasos-a__numero::after
    border-left-color: $color-adicional-2 !important

/**************************************************************/
/***CUSTOM STYLES***/
/**************************************************************/
.p-full-width
  padding: 3rem 3.5rem!important;
.bg-full-width
  background-size: cover
  background-repeat: no-repeat
  background-position: bottom
  margin-inline: -3.3rem
.bg-fondo
  &-1
    //background-image: url(../assets/curso/bg/3.svg)
.bg
  &-primario
    background-color: $color-primario
  &-secundario
    background-color: $color-secundario
  &-color-acento-contenido
    background-color: $color-acento-contenido
  &-color-acento-botones
    background-color: $color-acento-botones

.bg-color
  &-1
    background-color: #F9F7F0
  &-2
    background-color: #CCDADA
  &-3
    background-color: #CFCCEB
  &-4
    background-color: #014547
  &-5
    background-color: #D6F5FC


.br
  &-1
    border-bottom-right-radius: 5rem
  &-2
    border-bottom-right-radius: 3rem
  &-3
    border-bottom-left-radius: 3rem
  &-4
    border-bottom-left-radius: 2.5rem

.wcus
  &-1
    width: 13%
    
.fa-lock-cus
    content: url('../assets/curso/temas/bg/2.svg')
    align-self: flex-start !important
    font-size: 12px
.text
  &-1
    color: $color-sistema-texto !important
  &-2
    margin-top: 0.15rem !important;

.pcus
  &-1
    padding: 1.5rem !important
/**************************************************************/
/*Media Queries*/  
/**************************************************************/

//// DESKTOP SMALL 1400--------------------------------------
@media screen and (max-width: $bp-min-xxl)
  .mb-cus
    margin-bottom: 2em  !important 

//// TABLET 992--------------------------------------
@media screen and (max-width: $bp-max-md)
  .mb-cus
    margin-bottom: 2em  !important  
  .col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
    width: 90% !important
  .banner-principal .tarjeta
    background-image: url(../assets/curso/portada/fondo-banner-principal-tablet.png) !important  
  .bloque-texto-g
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  .br
    &-1
      border-bottom-right-radius: 2rem
    &-2
      border-bottom-right-radius: 1rem
    &-3
      border-bottom-left-radius: 2rem
    &-4
      border-bottom-left-radius: 1rem
  
//// TABLET MINI 768--------------------------------------
@media screen and (max-width: $bp-min-md)
  .mb-cus
    margin-bottom: 2em  !important  

  

//// MOBILE 576--------------------------------------
@media screen and (max-width: $bp-min-sm)
  .mb-cus
    margin-bottom: 2em  !important
  .banner-principal__componente,
  .banner-principal__descripcion
    padding-right: 0rem !important
  .banner-principal .tarjeta
    background-image: url(../assets/curso/portada/fondo-banner-principal-mobile.png) !important
  

  
 